/*
Theme Name: Tyler
Theme URI: http://www.eventmanagerblog.com/store
Author:  Event Manager Shop
Author URI: http://www.eventmanagerblog.com/store
Description: Tyler is a WordPress Theme by Event Manager Shop. Designed by Fabio Cannillo, developed by Simone Bolognini (http://www.simonebolognini.it) and Mario Peshev (http://devwp.eu/) 
Version: 1.6.11
*/

p {
font-size: 16px;
font-family: Ubuntu, Verdana, sans-serif;
background: inherit; 
}

.heading {
    background: #35aadc;
} 
.emph {
	color: #e74c3c;
}
a {
	color: #0000FF; 
	background: inherit;
}

a:hover {
	color: #0000FF;
	font-weight: bold;
	background: inherit;	
}